@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    box-shadow: 0px 16px 14px 0 #04152d;
    padding: 18px 24px;
    width: 300px;
    height: 500px;
    justify-content: space-between;
}

.image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 16px;
}

.title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

.description {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
    flex-grow: 1;
    overflow-y: auto;
}

.skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
    margin-bottom: 16px;
}

.skill {
    font-size: 14px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 4px 10px;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
}

.link {
    text-decoration: none;
    color: var(--color-text);
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--color-primary);
    padding: 4px 20px;
}
