@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: var(--text-xl);
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 120%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    font-size: var(--text-md);
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 17px 26px;
    border-radius: 100px;
    font-size: var(--text-sm);
    font-family: var(--font-roboto);
    font-weight: 600;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImgContainer {
    background-color: var(--color-primary);
    border-radius: 50%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImg {
    width: 400px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top  center;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translateY(0px); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(-0px); }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    min-height: 350px;
    top: -246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }

    .title {
        font-size: var(--text-lg);
    }

    .content {
        align-items: center;
    }

    .heroImgContainer {
        width: fit-content;
        margin-bottom: 30px;
    }

    .heroImg {
        width: 200px;
        height: 200px;
    }
}
