@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 58px 10%;
    letter-spacing: 1.75px;
}

.text h2{
    font-size: var(--text-lg);
    font-weight: 700;
    letter-spacing: 1.75px;
}

.text p{
    font-size: var(--text-md);
    font-weight: 400;
    letter-spacing: 1.75px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
}

.link {
    display: flex;
    align-items: center;
    gap: 25px;
}

.link a{
    color: var(--color-text);
    text-decoration: none;
    font-size: var(--text-md);
    font-weight: 400;
    letter-spacing: 1.75px;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        gap: 23px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links {
        align-items: flex-start;
    }
}